body {
  background-color: rebeccapurple;
}
#container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.taskCard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: antiquewhite;
}
.taskCard > * {
  border: 1px, solid, black;
}
.highUrgency {
  background-color: red;
}
.mediumUrgency {
  background-color: yellow;
}
.lowUrgency {
  background-color: green;
}

