body {
  background-color: rebeccapurple;
}
#container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.taskCard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: antiquewhite;
}
.taskCard > * {
  border: 1px, solid, black;  
}
.contentHead {
  text-align: center;
  font-weight: 600;
}
.taskCard > *:hover {
  background-color:darkgoldenrod;
  opacity: 0.7;
}
.highUrgency {
  background-color: red;
}
.mediumUrgency {
  background-color: yellow;
}
.lowUrgency {
  background-color: green;
}
input:invalid {
  border:solid 1px red;
}
input:valid {
  border:solid 1px green;
}
.sidebarOption {
  background-color: bisque;
  border-bottom: 1px solid black;
  margin: 5px 15px;
  text-align: center;
}
.sidebarOption:hover {
  opacity: 0.5;
}
.id, .completed {
  display: none;
}
.taskCompleted {
  text-decoration: line-through;
}